<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>
    <img src="assets/AA_Times_Logo.png"  class="logo">

        <ul class="masthead-links">
            <li>
            <span>Tuesday, October 18, 2016 </span>
            </li>
            <li>
            <i class="fas fa-newspaper"></i>
            <button type="submit">Today’s Paper</button>
            </li>
            <li>
            <i class="far fa-play-circle"></i>
            <button type="submit">Video</button>
            </li>
            <li>
            <span>77°F </span>
            </li>
            <li>
            <span>AAO +100% </span>
            </li>
        </ul>
</header>
