<h1>Sign Up</h1>
<form action="<%= users_url %>" method="post">
    <label>username
        <input type="text" name="user[user_name]" value="">
    </label>

    <label>password
        <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" value="Create User">

</form>